body {
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    /* = ((100 / 12) * { block quantity }) - 1 */
    /* GRID CALCS*/
    --sf1: 7.33333%;
    --sf2: 15.66667%;
    --sf3: 24%;
    --sf4: 32.33333%;
    --sf5: 40.66667%;
    --sf6: 49%;
    --sf7: 57.33333%;
    --sf8: 65.66667%;
    --sf9: 74%;
    --sf10: 82.33333%;
    --sf11: 90.66667%;
    --sf12: 99%;

    /* DEFAULT COLORS */
    --white: #ffffff;
    --light-gray:#d0d0d0;
    --dark-gray: #363636;
    --black: #000000;
    --success: #00af5e;
    --danger: #af0008;
    --warning: #d29e0b;
}


/* TEXT ELEMENTS */
h1 { font-size: 1.8rem; font-weight: 700; color: var(--dark-gray);}
h2 { font-size: 1.6rem; font-weight: 700; color: var(--dark-gray);}
h3 { font-size: 1.4rem; font-weight: 700; color: var(--dark-gray);}
h4 { font-size: 1.2rem; font-weight: 700; color: var(--dark-gray);}
h5 { font-size: 1.1rem; font-weight: 700; color: var(--dark-gray);}
h6 { font-size: 1rem; font-weight: 700; color: var(--dark-gray);}

p { font-size: 0.8rem; color: var(--dark-gray);}

a { text-decoration: none; }


/* UTILITIES */
.text-center { text-align: center; }


/* SOFT PADDINGS */
.ps2 { padding: 2px;}
.ps5 { padding: 5px;}
.ps10 { padding: 10px;}
.ps15 { padding: 15px;}
.ps20 { padding: 20px;}
.ps25 { padding: 25px;}
.ps30 { padding: 30px;}
.ps40 { padding: 40px;}

@media screen and (max-width: 640px) {
    .ps5,
    .ps10,
    .ps15,
    .ps20,
    .ps25,
    .ps30,
    .ps40 {
        position: relative !important;
    }
}

/* COMPONENTS */
/* COLORS FOR BUTTONS*/
.light-gray {
    color: var(--black);
    font-weight: bold;
    background-color: #d0d0d0;
}
.dark-gray {
    color: var(--light-gray);
    font-weight: bold;
    background-color: #363636;
}
.black {
    color: var(--white);
    font-weight: bold;
    background-color: #000000;
}
.success {
    color: var(--white);
    font-weight: bold;
    background-color: var(--success);
}
.danger {
    color: var(--white);
    font-weight: bold;
    background-color: var(--danger);
}
.warning {
    color: var(--light-gray);
    font-weight: bold;
    background-color: var(--warning);
}

/* BUTTOMS */
.sf_buttom {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sf_buttom:hover {
    transition: all 0.5s ease 0s;
    background-color: #000000a6;
    color: #ffffff;
}
@media screen and (max-width: 640px) {
    .sf_buttom {
        position: relative;
    }

    .sf_buttom:hover {
        transition: all 0.5s ease 0s;
        background-color: #000000a6;
        color: #ffffff;
    }
}

/* CARD */
.sf_card {
    color: var(--dark-gray);
    background-color: var(--light-gray);
    box-shadow: 0px 0px 4px 0px var(--light-gray);
}
@media screen and (max-width: 640px) {
    .sf_card > h3 {
        font-size: 0.6rem !important;
    }
}

/* GRID */
.softframe {
    width: 100%;
    display: inline-block;
    margin: auto;
}

@media screen and (max-width: 640px) {
    .softframe {
        width: 100% !important;
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.sf { 
    padding: 0 120px; /* remove this in you project */
    position: relative;
    display: flex;
}
@media screen and (max-width: 640px) {
    .sf {
        margin: 0 !important;
        padding: 0 10px !important;
        position: relative !important;
    }
}

.st {
    position: relative;
}
.sf1 { 
    width: var(--sf1);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf2 { 
    width: var(--sf2);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf3 { 
    width: var(--sf3);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf4 { 
    width: var(--sf4);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf5 { 
    width: var(--sf5);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf6 { 
    width: var(--sf6);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf7 { 
    width: var(--sf7);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf8 { 
    width: var(--sf8);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf9 { 
    width: var(--sf9);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf10 { 
    width: var(--sf10);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf11 { 
    width: var(--s11);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
.sf12 { 
    width: var(--sf12);
    margin: 0.5%;
    position: relative;
    display: inline-block;
}
/*
@media screen and (max-width: 640px) {
    .sf1,
    .sf2,
    .sf3,
    .sf4,
    .sf5,
    .sf6,
    .sf7,
    .sf8,
    .sf9,
    .sf10,
    .sf11,
    .sf12 { 
    }
}*/


/* NAVBAR */
.sf_nav {  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5%;
}
.sf_nav ul { 
    list-style: none; 
    padding: 0;
}
.sf_nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.sf_nav ul li:nth-child(1) {
    padding: 0 20px 0 0;
}


/* FOOTER */
.sf_footer {
    position: relative;
    display: flex;
}
.sf_footer a:visited { 
    color: var(--dark-gray)
}


/* MODAL */
.sf_motal_state {
    display: none;
}
.sf_modal_state:checked + .sf_modal {
    opacity: 1;
    visibility: visible;
}
.sf_modal-state:checked + .sf_modal .sf_modal_inner {
    top: 0;
}
.sf_modal_inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
}

.sf_modal_close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}
.sf_modal_close:after,
.sf_modal_close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}
.sf_modal_close:hover:after,
.sf_modal_close:hover:before {
    background: var(--light-gray);
}
.sf_modal_close:before {
    transform: rotate(-45deg);
}
.sf_modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: var(--dark-gray);
    transition: opacity .25s ease;
}
.sf_modal_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

/* IGNORE */
.link-download {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 145px;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 20px;
}

@media screen and (max-width: 640px) {
    .link-download {
        position: absolute !important;
        display: inline-block;
        margin: 10px;
    }
}
.link-download:hover {
    background-color: #363636;
}
